.layout-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
}

.body-container {
    display: flex;
    flex-direction: row;

}

.view-container {
    display: flex;
    width: 100%;
    border: 1px solid green;
}
